In [6]:
product1_name, product1_price = 'Newholland 3630', 900000
product2_name, product2_price = 'Newholland 3230', 700000
product3_name, product3_price = 'Newholland super',800000
company_name = 'Jayant_motors'
company_address = '144 Kalka road.'
company_city = "Rewari"
message = 'Thanks for shopping with us today!'
# create a top border
print('*' * 50)
print('\t\t{}'.format(company_name.title()))
print('\t\t{}'.format(company_address.title()))
print('\t\t{}'.format(company_city.title()))
# print a line between sections
print('=' * 50)
print('\tProduct Name\tProduct Price')
# create a print statement for each item
print('\t{}\t\t${}'.format(product1_name.title(), product1_price))
print('\t{}\t\t${}'.format(product2_name.title(), product2_price))
print('\t{}\t\t${}'.format(product3_name.title(), product3_price))
print('=' * 50)
# print out header for section of total
print('\t\t\tTotal')
# calculate total price and print out
total = product1_price + product2_price + product3_price
print('\t\t\t${}'.format(total))
# print a line between sections
print('=' * 50)
print('\n\t{}\n'.format(message))

**************************************************
		Jayant_Motors
		144 Kalka Road.
		Rewari
==================================================
	Product Name	Product Price
	Newholland 3630		$900000
	Newholland 3230		$700000
	Newholland Super		$800000
==================================================
			Total
			$2400000
==================================================

	Thanks for shopping with us today!